# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment Variables
.env

# SQLite
*.db
*.db-shm
*.db-wal

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/