streamlit
langchain
langchain-core
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
python-dotenv
requests
duckduckgo-search
faiss-cpu
sentence-transformers
torch==2.2.2
torchvision==0.17.2
pypdf
aiosqlite